.cartao {
  width: 22em;
  height: 12em;
  background-color: #fff;
  margin: 0 0 0 auto;
  margin-top: 50px;
  border: solid 1px #000;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  position: relative;
  color: #000;
}

#numeroCartaoVisual {
  bottom: 20%;
  position: absolute;
  font-size: 1em;
  left: 4%;
}

#nomeCartaoVisual {
  bottom: 35%;
  position: absolute;
  font-size: 1em;
  left: 4%;
}

#cvvCartaoVisual {
  bottom: 7%;
  left: 48%;
  position: absolute;
  font-size: 1em;
}

#validadeCartaoVisual {
  position: absolute;
  font-size: 1em;
  bottom: 7%;
  left: 4%;
}

#bandeira {
  width: 5.5em;
  bottom: 5%;
  left: 73%;
  position: absolute;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px 5%;
}

h1 {
  font-size: 2rem;
  margin-top: 60px;
  padding: 20px 0;
  position: absolute;
}

.form-pagamento {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 0.5rem 120px 3rem;
  gap: 50px 10px;
  grid-auto-flow: row;
  grid-template-areas:
      "nome numero validade"
      "cvv . ."
      "salvar-dados salvar-dados salvar-dados"
      "checkout . cupom"
      "voltar-loja . finalizar-compra";
}

.label-div {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 100%;
  height: 100%;
}

.label-div label {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.label-div input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #C4C4C4;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 0;
}

.nome-cartao {
  grid-area: nome;
}

.numero-cartao {
  grid-area: numero;
}

.validade-cartao {
  grid-area: validade;
}

.cvv-cartao {
  grid-area: cvv;
}

.checkout {
  grid-area: checkout;
  font-weight: bold;
  font-size: 1.5rem;
}

.cupom {
  grid-area: cupom;
}

.salvar-dados-cartao {
  grid-area: salvar-dados;
}

.salvar-dados-cartao label {
  font-size: 1rem;
  width: 100%;
}

.salvar-dados-cartao input {
  width: auto;
  border: none;
  border-radius: 50px;
}

.botao-voltar {
  grid-area: voltar-loja;
  color: #fff;
  background-color: #C4C4C4;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.seta {
  position: absolute;
  left: 7%;
  width: 1rem;
}

.cadeado {
  position: absolute;
  right: 7%;
  width: 1rem;
}

.botao-enviar {
  grid-area: finalizar-compra;
  color: #fff;
  background-color: #C4C4C4;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px;
  text-transform: uppercase;  font-weight: bold;

}

@media (max-width: 1000px) {
  main {
    font-size: 80%;
  }

  .form-pagamento {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 1rem 100px 3rem;
    grid-template-areas:
        "nome numero"
        "validade cvv"
        "salvar-dados salvar-dados"
        "checkout cupom"
        "voltar-loja finalizar-compra";
  }
}

@media (max-width: 900px) {
  .label-div label, .label-div input {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .label-div label, .label-div input {
    font-size: 1rem;
  }

  main {
    font-size: 65%;
  }

  .checkout p {
    font-size: 1rem;
  }

  .form-pagamento {
    grid-template-rows: 100px 100px 1rem 50px 3rem;
  }

@media (max-width: 600px) {

  .form-pagamento {
    grid-template-columns: 1fr;
    gap: 30px 10px;
    grid-template-rows: 60px 60px 60px 60px 60px 1rem 60px 3rem 3rem;
    grid-template-areas:
        "nome"
        "numero"
        "validade"
        "cvv"
        "cupom"
        "salvar-dados"
        "checkout"
        "voltar-loja"
        "finalizar-compra";
  }

}

@media (max-width: 550px) {
  h1 {
    position: static;
    margin-top: 0;
  }
  .cartao {
    display: none;
  }

}
