main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.container {
  width: auto;
  min-width: 500px; 
}

.cartao-container {
  min-height: 100vh;
  width: 30%;
  min-width: 450px;
  background-color: #000;
}

.cartao {
  max-width: 400px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  min-width: 80px;
  min-height: 50px;
  background-color: #fff;
  margin: 10px auto;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 15px;
  position: relative;
  font-size: 90%;
}

#numero-cartao {
  width: 100%;
  bottom: 20%;
  position: absolute;
  font-size: 1em;
}

#nome {
  width: 100%;
  bottom: 7%;
  position: absolute;
  font-size: 1em;
}

#cvv {
  width: 100%;
  bottom: 7%;
  left: 30%;
  position: absolute;
  font-size: 1em;
}

#validade {
  width: 100%;
  position: absolute;
  font-size: 1em;
  bottom: 7%;
  left: 45%;
}

#bandeira {
  width: 5.5em;
  bottom: 5%;
  left: 73%;
  position: absolute;
}
