@import url('./style.css');

.logo-client {
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
}

.content {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}



h2, li, li > a {
  color: white
}

li {
  list-style-type: none;
}

.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.avaliable-modules {
  width: 100%;
  padding-left: 10em;

}

.adquired-modules {
  margin-top: 10em;
  padding-left: 10em;

}

footer {
  color: white;
  align-self: center;
}

@media (max-width: 900px) {
  .avaliable-modules {
    padding-left: 3em;
  }
  .adquired-modules {
    padding-left: 3em;
  
  }
  .table__prices {
    display: none;
  }
  html {
    font-size: 12px;
  }
  .table {
    width: 90%;
  }

  .adquired-modules {
    margin-top: 3em;
  }
}

